{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -eufo pipefail

brew tap homebrew/cask-drivers
brew tap homebrew/autoupdate

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "coreutils"
brew "direnv" 
brew "git"
brew "go"
brew "jq"
brew "pre-commit"
brew "awscli"
brew "aws-vault"
brew "dive"
brew "tfenv"
brew "terraform-docs"
brew "pyenv"
brew "kubectl"
brew "helm" 
brew "argocd"
brew "htop"
brew "tree"
cask "drawio"
cask "docker"
cask "iterm2"
cask "visual-studio-code"
cask "rectangle"
cask "slack"
cask "notion"
cask "goland"
cask "intellij-idea"
cask "pycharm"
cask "zoom"
cask "1password-cli"
cask "1password"
cask "steam"
cask "firefox"
cask "ngrok"
cask "citrix-workspace"
EOF

DLURL=$(curl --silent "https://api.github.com/repos/kcrawford/dockutil/releases/latest" | jq -r '.assets[].browser_download_url' | grep pkg)
curl -sL ${DLURL} -o /tmp/dockutil.pkg
sudo installer -pkg "/tmp/dockutil.pkg" -target /
rm /tmp/dockutil.pkg

{{ end -}}
