{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -eufo pipefail

brew tap homebrew/autoupdate

brew bundle --no-lock --file=/dev/stdin <<EOF
cask "docker"
brew "ansible"
brew "gnupg"
brew "argocd"
brew "autoconf"
brew "aws-vault"
brew "awscli"
brew "bat"
brew "git-delta"
brew "chezmoi"
brew "coreutils"
brew "direnv"
brew "dive"
brew "doctl"
brew "docutils"
brew "fontconfig"
brew "git"
brew "go"
brew "golangci-lint"
brew "graphite2"
brew "grep"
brew "helm"
brew "htop"
brew "jq"
brew "kubernetes-cli"
brew "packer"
brew "pre-commit"
brew "pyenv"
brew "pyyaml"
brew "sqlite"
brew "terraform-docs"
brew "tfenv"
brew "tree"
brew "virtualenv"
brew "z"
brew "zoxide"
brew "fzf"
brew "dockutil"

cask "1password"
cask "1password-cli"
cask "citrix-workspace"
cask "datagrip"
cask "discord"
cask "drawio"
cask "firefox"
cask "goland"
cask "graphiql"
cask "intellij-idea"
cask "iterm2"
cask "keybase"
cask "ngrok"
cask "notion"
cask "obsidian"
cask "postman"
cask "powershell"
cask "pycharm"
cask "rectangle"
cask "rubymine"
cask "slack"
cask "unetbootin"
cask "visual-studio-code"
cask "zoom"
EOF

{{ end -}}
