{{ if (and (eq .chezmoi.os "darwin") (not .iswork)) -}}
Host *
	IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{ end }}
{{ if (and (eq .chezmoi.os "darwin") ( .iswork )) }}
Host *
  UseKeychain yes
  AddKeysToAgent yes
  IdentityFile ~/.ssh/id_ed25519
{{ end }}
